<section class='team'>
    <h3>הצוות שלנו</h3>        
    <div id='members'></div>
    <script>
        let basePath = location.origin ;
        fetch( basePath + '/search/member.json')
        .then(r=>r.json())
        .then(members=>{ 
            members.forEach( memberData => {
                let member = document.createElement('article');
                member.className = "member";
                
                let img = document.createElement('img');
                img.src = basePath + '/' + ( memberData.img ? memberData.img : memberData.image);
                member.appendChild(img);

                let title = document.createElement('h4');
                title.innerText = memberData.title;
                member.appendChild(title);

                let body = document.createElement('div');
                body.className = 'caption';
                body.innerHTML = memberData.about;
                member.appendChild(body);

                document.getElementById('members').appendChild(member);
            });
        });       
    </script>
            
</section>
<section class="aboutText">
    ${ this.strings.About_PageBody }
</section>