<div id='items' ></div>
<script>

        var proxyUrl = 'https://cors-anywhere.herokuapp.com/',
        targetUrl = 'https://www.youtube.com/feeds/videos.xml?channel_id=UCTYbGS4HxgYi2diMjfmmrFA'
        fetch(proxyUrl + targetUrl)
                .then(blob => blob.text())
                .then(str => new window.DOMParser().parseFromString(str, "text/xml"))
                .then(feed=> {
                        const items = feed.querySelectorAll("entry");
                        let html = ``;
                        items.forEach(el => {
                                let thumbnail = el.getElementsByTagName('media:group')[0].getElementsByTagName('media:thumbnail')[0].getAttribute('url');
                                let id = el.getElementsByTagName('id')[0].innerHTML.split(':')[2];
                                html += `
                                <div class='result-card'>
                                <img src="${thumbnail}" alt="">
                                <h2>
                                        <a href='https://www.youtube.com/watch?v=${id}'>
                                        ${el.querySelector("title").innerHTML}
                                        </a>
                                </h2>
                                </div>`});               
                        document.getElementById('items').innerHTML = html;
        })
        .catch(e => {
                console.log(e);
                return e;
        });
</script>