<div id='items' ></div>
<script src="https://apis.google.com/js/api.js"></script>
<script>

function execute() {
gapi.client.setApiKey("AIzaSyCX2NtKvY609cF5lSCnDT7_DhFMrzTdi90");
gapi.client
        .load("https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest")
        .then(function() { console.log("GAPI client loaded for API"); },
              function(err) { console.error("Error loading GAPI client for API", err); })
        .then( function() {
            gapi.client.youtube.search.list({
                "part": [
                  "snippet,id"
                ],
                "channelId": "UCTYbGS4HxgYi2diMjfmmrFA",
                "maxResults": 1000
              })
                  .then(function(response) {
                        let container = document.getElementById('items');

                        response.result.items
                            .filter( i=> i.id.kind =="youtube#video")
                            .reverse()
                            .forEach(el => {
                                console.log(el);
                                let thumbnail = el.snippet.thumbnails.default.url;
                                let id = el.id.videoId;
                                let card = document.createElement('div');
                                card.className = 'result-card';
                                let image = document.createElement('img');
                                card.appendChild(image);
                                image.src = thumbnail;
                                let leftSection = document.createElement('div');
                                card.appendChild(leftSection);
                                let title = document.createElement('h2');
                                leftSection.appendChild(title);
                                let titleLink = document.createElement('a');
                                title.appendChild(titleLink);
                                titleLink.innerHTML = el.snippet.title;
                                let description = document.createElement('div');
                                leftSection.appendChild(description);
                                description.innerHTML = el.snippet.description;
                                titleLink.href = "https://www.youtube.com/watch?v="+id;
                                container.appendChild( card ); 
                        });  
                    },
                    function(err) { console.error("Execute error", err); });
        })

}


gapi.load("client:auth2", function() {
        gapi.auth2.init({client_id: "251295461423-96uq27f68enfphmiaovl2m2ds11do030.apps.googleusercontent.com"});
        execute();
});
</script>