<section class='team'>
    <h3>המייסדים</h3>        
    <div id='founders'></div>
    <h3>הצוות שלנו</h3>        
    <div id='members'></div>
    <script>
        let basePath = location.origin ;
        
        fetch( basePath + '/search/member.json')
        .then(r=>r.json())
        .then(members=>{ 
            members
            .reverse()
            .forEach( memberData => {
                let member = document.createElement('article');
                member.className = "member";
                
                let img = document.createElement('img');
                img.src = basePath + '/' + ( memberData.img ? memberData.img : memberData.image);
                member.appendChild(img);

                let title = document.createElement('h4');
                title.innerText = memberData.title;
                member.appendChild(title);

                let body = document.createElement('div');
                body.className = 'caption';
                body.innerHTML = memberData.about;
                member.appendChild(body);
                if (  ['yehuda','simcha'].includes(memberData.id) ) {
                    document.getElementById('founders').appendChild(member);
                }
                else {
                    document.getElementById('members').appendChild(member);
                }
            });
        });       
    </script>
</section>
<section class="social">
    <h3 style="padding:20px 0">אנחנו גם ברשתות</h3>
    <div class="social-icons">
        <a href="https://www.facebook.com/Meshilut?mibextid=LQQJ4d" target="_blank">
            <i class="fab fa-facebook fa-3x"></i>
        </a>
        
        <a href="https://twitter.com/meshilut?s=11&t=J8THeg5Iof_QBWZ_p8kiVw" target="_blank">
            <i class="fab fa-twitter fa-3x"></i>
        </a>

        <a href="https://www.tiktok.com/@meshilut?_op=1&_r=1&_t=8dGLq2VUAhm" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="#428bca" d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"/>
            </svg>
        </a>
    </div>
</section>
<section class="aboutText">
    ${ this.strings.About_PageBody }
</section>