<script>
    let basePath = location.origin ;
    fetch( basePath + '/search/upcomingEvents.json')
        .then(res=>res.json())
        .then(res=>res.reverse())
        .then( res => {
            res.forEach( jsonItem => { 
                if ( null == jsonItem.date ) { 
                    jsonItem.dt = 0;
                }
                else {
                    jsonItem.dt = Date.parse(jsonItem.date );
                }
            });
            res
                .sort((a,b)=>{ return b.dt - a.dt })
                .forEach( jsonItem=>{
                    let itemDiv = document.createElement('div');
                    itemDiv.className = "result-card";
                    let itemContent = document.createElement('div');
                    let itemTitle = document.createElement('h3');
                    itemTitle.onclick = e => { window.location = itemURL }
                    itemTitle.innerText = jsonItem.title;
                    itemContent.append(itemTitle);
                    let itemTeaser = document.createElement('span');
                    itemContent.append(itemTeaser);
                    itemDiv.append(itemContent);
                    document.getElementById('main').appendChild(itemDiv);
                    fetch('/'+jsonItem.href + '/index.json')
                        .then(r=>r.json())
                        .then(fullMessage=>{
                            itemTeaser.innerHTML = fullMessage.body;
                        });
            })
        });
</script>